 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div>
                    <p>My name is Mark Law. I am a software engineer working in Greater NYC area.  Currently, I write client-facing Investor Services features for a large bank. On the side, I keep up with various technologies, including Android, AngularJS, or Java.</p>
                </div>
                
                
            </div>
        </div>
    </section>