 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My name is Mark Law. I am a software engineer working in Greater NYC area. At work I code Java web applications for a bank. On the side, I am interested in the latest technology, whether it is Android, Angular JS, or Java.</p>
                </div>
                <div class="col-lg-4">
                    <p>I always try to learn something new, perhaps things that are not totally practical. I believe that everything starts out small and grow to become a big thing. Applying the right technology and people will result in successful projects.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>