 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Mark is a software engineer working in Greater NYC area. He codes for fun, he is interested in various technologies, Android, Angular JS, Go, Java.</p>
                </div>
                <div class="col-lg-4">
                    <p>Always on the look out for fun side projects. Whether it is Android or PHP micro framework, he learns it and applies it. Mark believes in applying the right technology for the right project.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    
                </div>
            </div>
        </div>
    </section>